#wrap {
    position: relative;
    margin: auto;
}
canvas {
    position: absolute;
    left: 50%;
    image-rendering: -webkit-optimize-contrast;
}
/*body {
    width: 1000px;
    height: 800px;
}*/
p {
    font-family: fantasy;
    font-size: 12px;
    margin: auto;
}