body * {
    font-family: Verdana;
    font-size: 14px;
    box-sizing: border-box;
    color: #18655f;
    border-color: #18655f;
}
.whitish {
    font-family: Verdana;
    color: #f4eee6;
    font-size: 32px;
    font-weight: 600;
}
.greenish {
    font-family: Verdana;
    color: #18655f;
    font-size: 32px;
    font-weight: 600;
}
.big {
    text-align: center;
    margin-bottom: 10px;
}
#wrap {
    position: relative;
    margin: auto;
}
.wrapper {
    margin: 10px;
    text-align: center;
}
#bottom {

}
#infectivity {
    display: inline;
    color: red;
    width: auto;
}
form {
    border-radius: 8px;
    background-color: #c1c1c1;
    padding: 7px 15px 15px 15px;
    margin: 10px 0px;
    width: 400px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}
form.debug {
    width: 250px;
}
label {
    width: 70%;
    padding: 8px 8px 8px 0;
    display: inline-block;
}
input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid;
    border-radius: 6px;
    resize: vertical;
    background-color: #f4eee6;
}
input[type=checkbox] {
    width: 20%;
}
button.inForm {
    background-color: #f4eee6;
    width: 100%;
    border-radius: 6px;
    display: inline-block;
    border: 2px solid;
    padding: 8px;
    margin-top: 8px;
    transition-duration: 0.3s;    
}
input:focus {
    background-color: #53af68;
    outline: none;
}
canvas {
    position: absolute;
    left: 50%;
    image-rendering: -webkit-optimize-contrast;
    border: 3px solid;
    border-radius: 6px;
}
body {
    background-color: #a5d3bd;
}
#debug {
    font-size: 12px;
    margin: auto;
    color: #f4eee6;
}
button.top {
    border: 2px solid;
    border-radius: 6px;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #f4eee6;
    transition-duration: 0.3s;
}
button:hover {
    background-color: #18655f;
    color: #f4eee6;
}